.game
  %button.btn{ onclick: "dropBall()" } Drop
  .clearfix
  .data
    .sum
      Sum:
      .value#sum-value 0
    .score
      Score:
      .value#score-value 0
  .game-console
    %canvas#canvas

= content_for :scripts do
  var canvas = document.getElementById("canvas");
  var game = new Game(canvas);
