.home.align-center
  .title.large Welcome
  .title.small TO
  .title.medium Coloured balls exercise
  = link_to 'Play', '#', class: 'btn btn-orange-pulse'
  .clearfix
  %ul.rules
    %li.rule If there are no balls in the box it inserts a pink ball.
    %li.rule Every third ball is a green ball.
    %li.rule Every fifth ball is a blue ball.
    %li.rule Every fifteenth ball is a purple ball.
    %li.rule Every other ball is a pink ball.
